{{ define "title" -}}
  {{ .Title }} | {{ .Site.Params.seotitle | default .Site.Title }}
{{- end }}

{{ define "main" }}
  {{ partial "header.html" . }}
  <section class="main post-list">
    <header class="list-header offscreen">
      <h2 class="list-label">Posts List</h2>
    </header>
  <table>
    {{ range (where .Site.RegularPages "Type" "post").GroupByDate "2006 January" -}}
    <tr>
      {{ range .Pages -}}
          <td style="border: none; text-align: right; white-space: nowrap;">
            {{ if eq .Date.Year now.Year }}
              {{ .Date.Format "Jan 02" }}
            {{ else }}
              {{ .Date.Format "2006 Jan 02" }}
            {{ end }}
          </td>
          <td style="border: none;"><a href="{{ .Permalink }}">{{ .Title }}</a></td>
          {{ end -}}
        </tr>
        {{ end -}}
      </table>
</section>
{{ partial "footer.html" . }}
{{ end }}
