<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>

  <meta charset="utf-8" />

  <!-- Page Title -->
  <title>
    {{- block "title" . -}}
      {{ if eq .Kind "page" }}{{ .Title }}{{ else if isset .Site.Params "seotitle" }}{{ .Site.Params.seotitle }}{{ else }}{{ .Site.Title }}{{ end }}
    {{- end -}}
  </title>

  <!-- Shared Head -->
  {{ partial "head.html" . }}

  <!-- Polyfill for old browsers -->
  {{ partial "polyfill.html" . }}

</head>
  <body>
    {{ if ne .Kind "404" }}
    <div class="suspension">
      <a role="button" aria-label="Go to top" title="Go to top" class="to-top is-hide">
        <span aria-hidden="true">{{ partial "icons/chevron-up.svg" }}</span>
      </a>
    </div>
    {{ end }}
    {{ block "main" . }}{{ end }}
  </body>
</html>
