{{- $avatar := resources.Get (.Site.Params.avatar | default "images/avatar.png") -}}

<header class="site-header">
  {{  if eq .Kind "home" }}
  <h1 class="title">{{ .Site.Title }}</a></h1>
  {{ else }}
  <h2 class="title"><a href="/">{{ .Site.Title }}</a></h2>
  {{ end }}
  {{- with .Site.Params.subtitle -}}
    <p class="subtitle">{{ .Site.Params.subtitle }}</p>
  {{- end -}}
  <button class="menu-toggle" type="button" aria-label="Main Menu" aria-expanded="false" tab-index="0">
    <span aria-hidden="true">{{ partial "icons/menu.svg" }}</span>
  </button>

  <nav class="site-menu collapsed">
    <h2 class="offscreen">Main Menu</h2>
    <ul class="menu-list">
      {{ $type := .Type }}
      {{ $kind := .Kind }}
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <li class="menu-item
          {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{ end }}
          {{ if and (eq .Identifier "tags") (eq $kind "taxonomy") }} is-active{{ end }}
          {{ if and (eq .Identifier "home") (eq $type "post") }} is-active{{ end }}">
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
      {{ end }}
    </ul>
  </nav>
</header>
